<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link href = "/assets/style.css" rel = "stylesheet" type = "text/css" /> -->
    <meta charset="UTF-8">
    <title>Playing with NodeJS</title>
</head>
<body>
    <% include partials/nav.ejs %>
    Thanks for submitting the form!
    <br>
    Request Name: <%= data.name %>
    <br>
    Request Version: <%= data.version %>
</body>
</html>